@model WEB191010.Models.Ugyfel

@{
    ViewBag.Title = "Reszletek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@Model.Nev</h2>
<br />
<h6>Születesi éve: </h6>
@Model.Szuletes.ToString().AsDateTime().ToShortDateString()
<br />
<h6>Kedvezménye: </h6>
@Model.ElofizetesTipus.Nev
<br />